[submodule "py360convert"]
	path = py360convert
	url = https://github.com/onemorebug/py360convert.git
[submodule "Invariant-TemplateMatching"]
	path = Invariant-TemplateMatching
	url = https://github.com/onemorebug/Invariant-TemplateMatching.git
[submodule "Inpaint-Anything"]
	path = Inpaint-Anything
	url = https://github.com/onemorebug/Inpaint-Anything.git
